<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right-header">

  <a herf="#">チャットを終了する</a>
  </div>
  </div>
  <div class="main-right-messages">
    <%= render partial: 'message', collection: @messages %>
  </div>
  <div class="main-right-form">
  <div class="form-main">
        <input  placeholder="type a message" class="form-content">
          <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
      <input type="submit" value="送信する" class="form-button-content">
  </div>
  