  <div class="main-right-header">
  <p class="chat-name">hogefuga</p>
  <div class="chat-finish">
  <a herf="#">チャットを終了する</a>
  </div>
  </div>
  <div class="main-right-messages">
  <div class=message>
  <div class="upper-messeage">
  <div class="main-right-messages-user">TOM</div>
  <div class="main-right-messages-date">2023/12/9(sat) 08:53:53</div>
  </div>
  <div class="lower-message">
  <div class="main-right-messages-content">good evening</div>
  </div>
  </div>
  <div class=message>
  <div class="upper-messeage">
  <div class="main-right-messages-user">TOM</div>
  <div class="main-right-messages-date">2023/12/9(sat) 08:53:53</div>
  </div>
  <div class="lower-message">
  <div class="main-right-messages-content">good evening</div>
  </div>
  </div>
  </div>
  <div class="main-right-form">
  <div class="form-main">
        <input  placeholder="type a message" class="form-content">
          <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
      <input type="submit" value="送信する" class="form-button-content">
  </div>
  