.wrapper{
  display: flex;
}

.main-left{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.main-left-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.user-name{
  color: #FAFAFA;
  font-size: 16px;
}
.chat-make{
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
}
.main-left-rooms{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.chat-room1{
  color: white;
  padding: 20px 0 40px 0;
}



.main-right{
  width: calc(100vw - 300px);
  background-color: #fff;
}

.main-right-header{
  height: 100px;
  padding: 0 40px;
}

.main-right-messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
}

.main-right-form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}